@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    /*font-weight: bold;*/
    margin : 0px;
}

:root{
    --primary--color: #1AB0A6;
    --off-white-color:#dedce2;
    --grey:#575555;
}

.container{
    padding: 0rem 1rem;
    margin: auto;
    max-width: 650px;
   
}

.container-center{
    margin: auto;
    max-width: 700px;
   
}

.primary-link
{
    background-color:var(--primary--color);
    color: white;
    /*display: block;*/
    width: max-content;
    border-radius: 0.5rem;
    margin: 1rem 1rem 1rem 0rem;
    min-width: 140px;
}

.link{
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.secondary-link{
    background-color: var(--off-white-color);
    color: var(--primary--color);
    width:max-content;
    border-radius: 0.5rem;
    margin: 1rem 1rem 1rem 0rem;
    min-width: 140px;
    border: 1px solid var(--primary--color);
}

hr{
    margin: 2rem 0rem;
}

.list-non-bullets{
    list-style: none;
}

.list-item-inline{
    display: inline;
    padding: 0rem 1rem;
}

.navigation{
    display:block;
    background-color: var(--primary--color);
    padding: 1rem 0rem;
    border-bottom-left-radius: 2rem;
}

.container-fluid{
    padding: 0rem 1rem;
}

.nav-heading
{
    font-weight: bold;
    color:white;
}

.navigation ul{
    list-style: none;
    text-align: right;
}

.navigation li{
    display: inline-block;
    padding: 0rem 1rem;
}

.navigation a{
    text-decoration: none;
    color: white;
}

.navigation .active{
    font-weight: bold;
}

.main-text{
    display: block;
    color: var(--grey) ;
    max-width: 800px;
}

.main-text img{
    width: 500px;
    margin: auto;
    display: block;
    padding: 2rem 0rem;
}

.section{
    display: block;
    padding: 2rem;
    text-align: center;
}

.section h2{
    text-align: center;
}

.section-ow{
    background-color: var(--off-white-color);
    border-radius: 2rem;
}

.footer{
    display: block;
    background-color: var(--primary--color);
    padding: 1rem 0rem;
    border-top-right-radius: 2rem;
    text-align: center;
}

.footer ul{
    padding-inline-start: 0px;
}

.footer li{
    display: inline-block;
    padding: 0rem 2rem;
    color: white;
}

.footer .heading{
    font-weight: bolder;
    font-size: larger;
    color: white;
}

.text-color{
    color:var(--primary--color)
}

/*.section p{
    text-align: center;
}

.section a{
    text-align: center;
}*/

.center-text
{
    text-align: center;
}

.social-link{
    text-decoration: none;
    color: white;
}